.playground {
  @include center();
  @include make-row();
  @media (max-width : $screen-xs-min) {
    width  : 90%;
    margin : auto;
  }

  //  ******************************************************************************************************************

  .actionHolder {
    @include make-xs-column(4);
    padding : 0;
    &:nth-of-type(2) {
      border-right : 1px solid transparentize(white, 0.9);
      border-left  : 1px solid transparentize(white, 0.9);
    }
    &:nth-of-type(4) {
      border-top    : 1px solid transparentize(white, 0.9);
      border-bottom : 1px solid transparentize(white, 0.9);
    }
    &:nth-of-type(5) {
      border : 1px solid transparentize(white, 0.9);
    }
    &:nth-of-type(6) {
      border-top    : 1px solid transparentize(white, 0.9);
      border-bottom : 1px solid transparentize(white, 0.9);
    }
    &:nth-of-type(8) {
      border-right : 1px solid transparentize(white, 0.9);
      border-left  : 1px solid transparentize(white, 0.9);
    }

    //******************************************************************************************************************

    .action {
      padding    : 20px;
      color      : white;
      font-size  : 20px;
      text-align : center;
      cursor     : pointer;
      @include transition(background-color 0.5s, transform 0.5s);
      &:hover {
        background-color : $backgroundColor-glassy;
      }
      &:active {
        @include scale(0.7);
      }
      &.selected {
        background-color : $backgroundColor-glassy;
      }
    }
  }
}