.headerView {
  height           : 60px;
  width            : 100%;
  padding          : 10px;
  margin           : 0;
  background-color : $color-backgroundColor-glassy;

  //********************************************************************************************************************

  .hamburgerMenu {
    float     : left;
    color     : white;
    font-size : 25px;
    padding   : 5px;
    cursor    : pointer;
    @include transition(transform 0.5s, color 0.5s);
    &:active {
      @include scale(0.9);
      color : green;
    }
  }

  //********************************************************************************************************************

  .logo {
    float : right;
    .logoImage {
      width  : 40px;
      height : 40px;
      @include border-radius(50%);
      @include box-shadow(0 0 5px white);
    }
  }
}