.loginSection {
  width      : 100%;
  text-align : center;
  &.largeHeight {
    @include center();
  }
  &.smallHeight {
    margin         : auto;
    padding-top    : 50px;
    padding-bottom : 50px;
  }

  //********************************************************************************************************************

  .welcome {
    color      : white;
    font-size  : 15px;
    text-align : center;
    .dooozestan {
      font-size   : 30px;
      font-weight : bold;
    }
  }

  //********************************************************************************************************************

  .logo {
    width         : 100px;
    height        : 100px;
    @include border-radius(50px);
    margin-bottom : 10px;
    @include box-shadow(0 0 5px white);
  }

  //********************************************************************************************************************

  .username, .password {
    background-color : $color-backgroundColor-glassy;
    border           : none;
    margin           : 10px 0;
    padding          : 10px;
    color            : white;
    width            : 300px;
    @media (max-width : $screen-xs-min) {
      width : 90%;
    }
  }

  //********************************************************************************************************************

  .eye {
    margin-left : -37px;
    font-size   : 17px;
    color       : transparentize(white, 0.5);
    padding     : 8px;
    cursor      : pointer;
  }

  //********************************************************************************************************************

  //.inputFile {
  //  width    : 0.1px;
  //  height   : 0.1px;
  //  opacity  : 0;
  //  overflow : hidden;
  //  position : absolute;
  //  z-index  : -1;
  //}
  //.inputFile + label {
  //  display     : block;
  //  margin      : 10px auto;
  //  cursor      : pointer;
  //  color       : transparentize(white, 0.5);
  //  font-weight : normal;
  //  text-align  : left;
  //}

  //********************************************************************************************************************

  .submit {
    background-color : white;
    border           : none;
    margin           : 10px 0;
    padding          : 10px;
    width            : 300px;
    @media (max-width : $screen-xs-min) {
      width : 90%;
    }
    @include transition(transform 0.5s);
    &:active {
      @include scale(0.9);
    }
  }

  //********************************************************************************************************************

  .register {
    color      : transparentize(white, 0.5);
    margin-top : 10px;
  }
}
