.registerSection {
  width      : 100%;
  text-align : center;
  &.largeHeight {
    @include center();
  }
  &.smallHeight {
    margin         : auto;
    padding-top    : 50px;
    padding-bottom : 50px;
  }

  //********************************************************************************************************************

  .welcome {
    color      : white;
    font-size  : 15px;
    text-align : center;
    .dooozestan {
      font-size   : 30px;
      font-weight : bold;
    }
  }

  //********************************************************************************************************************

  .userName, .passWord, .email {
    background-color : $color-backgroundColor-glassy;
    border           : none;
    margin           : 10px 0;
    padding          : 10px;
    color            : white;
    width            : 300px;
    @media (max-width : $screen-xs-min) {
      width : 90%;
    }
    @include transition(transform 0.5s);
    &:active {
      @include scale(0.9);
    }
  }

  //********************************************************************************************************************

  .submit {
    background-color : white;
    border           : none;
    margin           : 10px 0;
    padding          : 10px;
    width            : 300px;
    @media (max-width : $screen-xs-min) {
      width : 90%;
    }
    @include transition(transform 0.5s);
    &:active {
      @include scale(0.9);
    }
  }

  //********************************************************************************************************************

  .login {
    color      : transparentize(white, 0.5);
    margin-top : 10px;
  }
}