<section class="playground">
    <div class="actionHolder">
        <div class="action">1</div>
    </div>
    <div class="actionHolder">
        <div class="action">2</div>
    </div>
    <div class="actionHolder">
        <div class="action">3</div>
    </div>
    <div class="actionHolder">
        <div class="action">4</div>
    </div>
    <div class="actionHolder">
        <div class="action">5</div>
    </div>
    <div class="actionHolder">
        <div class="action">6</div>
    </div>
    <div class="actionHolder">
        <div class="action">7</div>
    </div>
    <div class="actionHolder">
        <div class="action">8</div>
    </div>
    <div class="actionHolder">
        <div class="action">9</div>
    </div>
</section>