<section class="registerSection">
    <div class="welcome">
        Welcome to
        <br>
        <span class="dooozestan">DOOOZestan</span>
        <p class="slogan">Play & Know</p>
    </div>
    <img src="img/Tic-Tac-Toe-Game-grey.png" alt="" class="logo">
    <form action="">
        <input type="text" placeholder="Username" class="username" required>
        <br>
        <input type="password" placeholder="Password" class="password" required>
        <i class="eye fa fa-eye"></i>
        <br>
        <input type="email" placeholder="EMail" class="email" required>
        <br>
        <!--<input type="file" name="file" id="file" class="inputFile" required/>-->
        <!--<label for="file">Choose Avatar</label>-->
        <input type="submit" class="submit"></input>
    </form>
    <p class="login">
        Already a member?
        <a href="#login">Login.</a>
    </p>
</section>