<section class="registerSection">
    <p class="welcome">
        Welcome to
        <br>
        <span class="dooozestan">DOOOZestan</span>
    </p>
    <img src="img/final.jpg" alt="" class="avatar">
    <br>
    <input type="text" placeholder="Username" class="userName" autofocus>
    <br>
    <input type="password" placeholder="Password" class="passWord">
    <br>
    <input type="email" placeholder="EMail" class="email">
    <br>
    <button class="submit">
        Register
    </button>
    <p class="login">
        Already a member?
        <a href="#login">Login.</a>
    </p>
</section>