<section class="registerSection">
    <p class="welcome">
        Welcome to
        <br>
        <span class="dooozestan">DOOOZestan</span>
    </p>
    <img src="img/final.jpg" alt="" class="avatar">
    <form action="">
        <input type="text" placeholder="Username" class="userName" required autofocus>
        <br>
        <input type="password" placeholder="Password" class="passWord" required>
        <br>
        <input type="email" placeholder="EMail" class="email" required>
        <br>
        <input type="file" name="file" id="file" class="inputfile" required/>
        <label for="file">Choose Avatar</label>
        <input type="submit" class="submit"></input>
    </form>
    <p class="login">
        Already a member?
        <a href="#login">Login.</a>
    </p>
</section>