<section class="settings">
    <a href="#" class="userInfo">
        <img src="img/avatar.jpg" alt="" class="avatar">
        <div class="name">Ehsan Amiri</div>
        <div class="phone">+98-9371508772</div>
    </a>
    <nav class="options">
        <ul class="optionsUL">
            <li class="optionsLI">
                <a href="#" class="optionsLink">
                    <i class="icon fa fa-gamepad"></i>
                    New Game
                </a>
            </li>
            <li class="optionsLI">
                <a href="#" class="optionsLink">
                    <i class="icon fa fa-comments"></i>
                    New Chat
                </a>
            </li>
            <li class="optionsLI">
                <a href="#" class="optionsLink">
                    <i class="icon fa fa-users"></i>
                    Contacts
                </a>
            </li>
            <li class="optionsLI">
                <a href="#" class="optionsLink">
                    <i class="icon fa fa-user-plus"></i>
                    Invite Friends
                </a>
            </li>
            <li class="optionsLI">
                <a href="#" class="optionsLink">
                    <i class="icon fa fa-cog"></i>
                    Settings
                </a>
            </li>
            <li class="optionsLI">
                <a href="#" class="optionsLink">
                    <i class="icon fa fa-question"></i>
                    DOOOZestan FAQ
                </a>
            </li>
        </ul>
    </nav>
</section>