<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DoozestanDataContext" connectionString="Data Source=localhost;Initial Catalog=Doozestan;uid=sa;pwd=mostafa313;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient " />
  </connectionStrings>
</configuration>