@mixin center() {
  position : absolute;
  top      : 50%;
  left     : 50%;
  @include translate(-50%, -50%);
}

//**********************************************************************************************************************

@mixin border-radius($value) {
  @include border-top-radius($value);
  @include border-right-radius($value);
  @include border-bottom-radius($value);
  @include border-left-radius($value);
}

//**********************************************************************************************************************
