@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variable";
@import "zIndex";
@import "mixin";
@import "page/1page";
@import "section/1section";
@import "animation";
@import "transition";

//**********************************************************************************************************************

body {
  background-color : $color-backgroundColor;
  width            : 100%;
  min-height       : 100vh;
}

.noScroll {
  overflow : hidden;
}